<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Новый читатель</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"/>

</head>
<body>
    <header th:insert="~{blocks/header :: header}"></header>

    <form th:method="POST" th:action="@{/people/new}" th:object="${registrationDTO}">
        <label for="username">Введите username: </label>
        <input type="text" th:field="*{username}" id="username" />
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</div>
        <br />
        <label for="password">Ведите пароль: </label>
        <input type="text" th:field="*{password}" id="password" />
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
        <br />
        <label for="fullName">Введите ФИО: </label>
        <input type="text" th:field="*{fullName}" id="fullName"/>
        <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullName Error</div>
        <br/>
        <label for="yearOfBirth">Ведите год рождения: </label>
        <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
        <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">yearOfBirth Error</div>
        <br/>
        <input type="submit" value="Добавить!"/>
    </form>
    <footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>